.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
}
.mobile__group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.time {
  color: #000;
}
